# Environment
*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Logs
logs/
*.log
airflow.db
airflow.cfg

# Spark
spark-warehouse/
metastore_db/
derby.log

# OS
.DS_Store
Thumbs.db

# Data
*.csv
*.parquet
!seeds/*.csv
